@import '@styles/placeholders.scss';

.blog {
	// Center items
	@extend %flex-column;
	padding: 2rem;
}

.blog .index {
	// Stack content vertically & align top/left
	@extend %flex-column;
	justify-content: flex-start;
	align-items: flex-start;
}

.blog .index > ul {
	@extend %flex-column;
	gap: 0.5rem;
}
