@use '@styles/mixins/layouts.scss' as *;

.blog {
	// Center items
	@include flex-column;
	padding: 2rem;
}

.blog .index {
	// Stack content vertically & align top/left
	@include flex-column;
	justify-content: flex-start;
	align-items: flex-start;
}

.blog .index > ul {
	@include flex-column;
	gap: 0.5rem;
}
