// Apply stylesheet resetter
@import './reset.scss';

// Get fonts
@import './fonts/cp-mono.scss';
@import './fonts/saira.scss';
@import './fonts/stargaze.scss';

// Get mixins and other scss utilities
@import './mixins/breakpoints.scss';
@import './mixins/colors.scss';
@import './mixins/layouts.scss';
@import './mixins/typefaces.scss';

// Import styling variables
@import './variables/colors.scss';

// Apply custom rules for global elements
@import './elements/block-elements.scss';
@import './elements/inline-elements.scss';


:root {
	// This is dangling variable the MenuBar banner's height.
	// It's useful for positioning items between stylesheets.
	--banner-height: 4rem;
}

* {
	// Base box-model settings
	box-sizing: border-box;
}

:root,
body {
	// Base site font settings
	@extend %body-typeface;
	font-size: 20px;
	@include for-tablets-down {
		font-size: 16px;
	}
}

body {
	// This always shows a scrollbar in the main browser area.
	// It makes for a nicer transitions between pages...
	// Otherwise, we'd have some background image jitter!
	overflow-y: scroll;
}
