@import "./reset.scss";

/* CSS Variables */
:root {
	--foreground-color-light: black;
	--foreground-color-dark: white;

	--background-color-light: white;
	--background-color-dark: black;

	--border-color-light: #eaeaea;
	--border-color-dark: #222;
}

/* Base Styling */
:root {
	color-scheme: light;
	--foreground-color: var(--foreground-color-light);
	--background-color: var(--background-color-light);
	--border-color: var(--border-color-light)
}

* {
	box-sizing: border-box;
}

body {
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		Segoe UI, Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		Fira Sans,
		Droid Sans,
		Helvetica Neue,
		sans-serif;

	font-size: 16px;
	line-height: 1.5;

	color: var(--foreground-color);
	background: var(--background-color);
}

/* Primary / Block Stylings */
h1 {
	font-size: 3rem;
	font-weight: 900;
}

h2 {
	font-size: 2rem;
	font-weight: 900;
}

h3 {
	font-size: 1.5rem;
	font-weight: 700;
}

h4 {
	font-size: 1.25rem;
	font-weight: 700;
}

h5 {
	font-size: 1rem;
	font-weight: 700;
}

h6 {
	font-size: 1rem;
	font-weight: 200;
}

p {
	font-size: 1rem;
}

h1, h2, h3, h4, h5, h6, p {
	// Calculate the element's margin.
	margin: calc(0.25em + 0.5rem) 0;

	// Make margins smarter with these selectors.
	&:last-child {
		margin-bottom: 0;
	}
	&:first-child {
		margin-top: 0;
	}
}

/* Secondary / Inline Stylings */
a {
	// Remove default styling from links.
	color: inherit;
	text-decoration: inherit;
}

/* Enable Dark Mode */
@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
		--foreground-color: var(--foreground-color-dark);
		--background-color: var(--background-color-dark);
		--border-color: var(--border-color-dark)
	}
}
