@use 'sass:color';
@import './reset.scss';

/* SASS Functions */
// The decompose function helps manipulate colors more easily.
// It extrapolates a color's "shade", which is a tuple of colors.
// This "shade" can't be used without an rgb() or rgba() function.
//
// Once Dynamic Color Manipulation with CSS Relative Colors
//  is in spec for CSS in most browsers, we can remove this.
@function decompose($color) {
	$r: color.red($color);
	$g: color.green($color);
	$b: color.blue($color);
	$shade: ($r,$g,$b);
	@return $shade;
}

/* Base Styling */
:root {
	// Primary CSS Variables & other root settings
	color-scheme: light;

	--foreground-shade: var(--foreground-shade-light);
	--background-shade: var(--background-shade-light);
	--border-shade: var(--border-shade-light);

	--foreground-color: rgba(var(--foreground-shade), var(--foreground-alpha));
	--background-color: rgba(var(--background-shade), var(--background-alpha));
	--border-color: rgba(var(--border-shade), var(--border-alpha));

	// Derivative CSS Variables
	--foreground-shade-light: #{decompose(black)};
	--foreground-shade-dark: #{decompose(white)};
	--foreground-alpha: 100%;

	--background-shade-light: #{decompose(white)};
	--background-shade-dark: #{decompose(black)};
	--background-alpha: 50%;

	--border-shade-light: #{decompose(#eaeaea)};
	--border-shade-dark: #{decompose(#222)};
	--border-alpha: 75%;
}

* {
	box-sizing: border-box;
}

body {
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		Segoe UI, Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		Fira Sans,
		Droid Sans,
		Helvetica Neue,
		sans-serif;

	font-size: 16px;
	line-height: 1.5;

	color: var(--foreground-color);
	background: var(--background-color);

	// This always shows a scrollbar.
	// It makes for a nicer transitions between pages...
	// Otherwise, we'd have background image jitter!
	overflow-y: scroll;
}

/* Primary / Block Stylings */
h1 {
	font-size: 3rem;
	font-weight: 900;
}

h2 {
	font-size: 2rem;
	font-weight: 900;
}

h3 {
	font-size: 1.5rem;
	font-weight: 700;
}

h4 {
	font-size: 1.25rem;
	font-weight: 700;
}

h5 {
	font-size: 1rem;
	font-weight: 700;
}

h6 {
	font-size: 1rem;
	font-weight: 200;
}

p {
	font-size: 1rem;
}

h1, h2, h3, h4, h5, h6, p {
	// Calculate the element's margin.
	margin: calc(0.25em + 0.5rem) 0;

	// Make margins smarter with these selectors.
	&:last-child {
		margin-bottom: 0;
	}
	&:first-child {
		margin-top: 0;
	}
}

/* Secondary / Inline Stylings */
a {
	// Remove default styling from links.
	color: inherit;
	text-decoration: inherit;
}

/* Enable Dark Mode */
@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
		--foreground-shade: var(--foreground-shade-dark);
		--background-shade: var(--background-shade-dark);
		--border-shade: var(--border-shade-dark);
	}
}
