/* / / / / / / / / / / / / / / / / / / / / / / / / / / / / /
Stargaze
--------
A heavy retro futuristic display typeface, available in
	both regular and stencil formats.
These formats can mix for a spacey, quasi-military effect.
/ / / / / / / / / / / / / / / / / / / / / / / / / / / / / */

@font-face {
	font-family: 'Stargaze';
	font-weight: 1 1000;
	font-style: normal;
	src: url('/fonts/stargaze/stargaze-regular.woff') format('woff');
}

@font-face {
	font-family: 'Stargaze';
	font-weight: 1 1000;
	font-style: italic;
	src: url('/fonts/stargaze/stargaze-stencil.woff') format('woff');
}
