@import '@styles/generics.scss';

.header {
	@extend %flex-row;
	justify-content: flex-start;

	padding: 1rem 0;
	border-bottom: 1px solid var(--border-color);
}

.header nav {
	@extend %flex-row;
	gap: 1rem;
}
