@import '@styles/placeholders.scss';

// The header shall be left-aligned and vertically-centered.
header.header {
	@extend %flex-row;
	justify-content: flex-start;

	height: var(--banner-height);
	padding: 1rem 2rem;
	border-bottom: 1px solid var(--border-color);
}

header.header nav {
	@extend %flex-row;
	gap: 1rem;

	// Vertically stretch nav items.
	// This ensures that anchors and links have a clickable
	//  area that takes up the whole height of the bar.
	align-items: stretch;
}

header.header hgroup * {
	margin: 0;
	line-height: 1em;
}
