%hero-typeface {
	font-family: 'Stargaze', fantasy;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: normal;
	text-transform: uppercase;
	line-height: 1.5;
}

%heading-typeface {
	font-family: 'Saira', sans-serif;
	font-weight: 800;
	font-stretch: semi-condensed;
	letter-spacing: calc(1em/16);
	text-transform: uppercase;
	line-height: 1.5;
}

%body-typeface {
	font-family: 'Saira', sans-serif;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: normal;
	text-transform: none;
	line-height: 1.75;
}

%monospace-typeface {
	font-family: 'CP Mono', monospace;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: normal;
	text-transform: none;
	line-height: 1.5;
}

// Typefaces for forms and other interactable elements
%pressable-typeface {
	font-family: 'Saira', sans-serif;
	font-size: 0.8em;
	font-weight: 700;
	font-stretch: semi-expanded;
	letter-spacing: calc(1em * 1/16);
	text-transform: uppercase;
	line-height: 1.5;
}

%label-typeface {
	font-family: 'Saira', sans-serif;
	font-size: 0.8em;
	font-weight: 600;
	font-stretch: normal;
	letter-spacing: normal;
	text-transform: none;
	line-height: 1.75;
}

%input-typeface {
	font-family: 'Saira', sans-serif;
	font-weight: 300;
	font-stretch: semi-condensed;
	letter-spacing: normal;
	text-transform: none;
	line-height: 1.5;
}
