@import '@styles/generics.scss';

ul.links {
	@extend %flex-row;
}

ul.links > li {
	@extend %flex-row;
}

ul.links > li a {
	@extend %flex-row;

	padding: 0 1rem;
	border-left: 1px solid var(--border-color);
}

ul.links > li:last-child a {
	border-right: 1px solid var(--border-color);
}
