@import '@styles/variables/layouts.scss';

/* BASE CONTAINER */
// This component represents the home logo with text,
//  which ultimately links back to the homepage.
.logo {
	@extend %flex-row;
	width: fit-content;

	// Font styling
	font-size: 1.5em;
	line-height: 1;
	text-align: center;

	// Add some flair via the border.
	border-width: calc(1em * 1/3);
	border-color: var(--foreground-color);
	border-style: solid;

	// Element spacing
	padding: 0.25em 0.5em;
	gap: 0.5em;
}
