@import '@styles/mixins/layouts.scss';

// The %flex-row placeholder is heavily used here.
// It applies flexbox to align things nicely.

.root {
	@extend %flex-row;

	// Style the footer bar
	height: var(--banner-height);
	background-color: var(--background-clear);
}

.root a {
	@extend %flex-row;

	// Space out contents some
	gap: 0.5rem;

	// Reset link styling
	color: inherit;
	text-decoration: none;

	// Font changes
	font-weight: 600;
	font-stretch: 125%;
	font-size: calc(4em/5);
	text-transform: lowercase;
}

.logo {
	// Center the contained logo/image
	@extend %flex-row;
}
