@use '@styles/mixins/layouts.scss' as *;

/* BASE CONTAINER / THE WRAPPER */
// The page wrapper provides a suitable background
//  image for all screen sizes.
.wrapper {
	min-height: 100vh;

	// Stack items vertically, justified from top.
	@include flex-column;
	justify-content: flex-start;
	align-items: stretch;

	// This extends the background
	//  past contained bottom margins.
	overflow: hidden;

	// Here are the background-image options, including
	//  stretching, repeating, vignette, etc.
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

/* PAGE INTRO / THE WRAPPER'S HEADER */
// This represents the full-screen title and site logo.
.intro {
	@include flex-column;
	text-align: center;

	.hero & {
		height: 100vh;
	}
}

/* TITLE AND LOGO */
.hero-title, .floating-logo {
	transition-property: opacity, visibility;
	transition-timing-function: linear;
	transition-duration: 0.5s;
}

.hero-title {
	width: 100%;
	opacity: 0;
	visibility: hidden;

	.show-title & {
		opacity: 1;
		visibility: visible;
	}
}

.floating-logo {
	// Maybe this padding is a bit weird, but it helps some
	//  relative hrefs, like "nebuloid.dev/#site-logo".
	padding-top: 5rem;
	margin-bottom: 5rem;

	.hero & {
		opacity: 0;
		visibility: hidden;

		position: absolute;
		bottom: 0rem;
		margin-bottom: calc(5rem + var(--banner-height));
	}

	.show-logo & {
		opacity: 1;
		visibility: visible;
	}
}


/* PAGE CONTENT */
// This inner wrapper contains the page's actual content,
//  alongisde a template for the page's navigation banner.
.page {
	@include flex-column;
	align-items: stretch;

	width: 100%;
	max-width: 1500px;

	margin: 0 auto;

	// This creates a frosted-glass-like effect.
	background-color: var(--background-clear);
	backdrop-filter: blur(1rem);
}

.page > .content > * {
	flex: 1;
	padding: 2rem;
}

// If the wrapper has a hero style class,
//  then the page also has a special negative margin size.
// This allows the page banner to peak out at the bottom
//  of the full-screen hero view.
.hero.wrapper > .page {
	margin-top: calc(-1 * var(--banner-height));
}

/* PAGE APPENDIX / THE WRAPPER'S FOOTER */
// The wrapper's footer here is slightly different
//  from the page's footer.
// It just contains light copyright info, for now.
.appendix {
	flex: 1;

	@include flex-column;
	justify-content: flex-end;

	margin-top: 5rem;
	padding: 2rem;

	text-align: center;
	color: rgba(var(--foreground-shade), 50%);

	&.attribution {
		align-self: flex-end;
	}
}

/* Color Schemes */
// The color scheme dictates the background systems here.
@mixin light-mode {
	background-image: url('https://i.imgur.com/sICHp6S.jpg');
	background-position: center 30%;
}

@mixin dark-mode {
	background-image: url('https://i.imgur.com/wpRIAgS.png');
	background-position: left center;
}

.wrapper {
	&:global([data-color-scheme='light']) {
		@include light-mode;
	}

	&:global([data-color-scheme='dark']) {
		@include dark-mode;
	}

	&:global([data-color-scheme='system']) {
		@media (prefers-color-scheme: light) {
			@include light-mode;
		}

		@media (prefers-color-scheme: dark) {
			@include dark-mode;
		}
	}
}
