@use '@styles/mixins/breakpoints.scss' as *;
@use '@styles/mixins/layouts.scss' as *;

// The header shall be left-aligned and vertically-centered.
.root {
	@include flex-column;
	@include for-tablets-up {
		@include flex-row;

		// Banner Sizing
		height: var(--banner-height);
	}

	align-items: stretch;

	// Spacer Bar
	> hr {
		flex-grow: 1;
		margin: 0;
		border: 0;
		background-color: var(--background-clear);
	}
}
