@import '@styles/mixins/layouts.scss';

// The header shall be left-aligned and vertically-centered.
.root {
	@extend %flex-row;
	align-items: stretch;

	// Banner Sizing
	height: var(--banner-height);

	// Spacer Bar
	> hr {
		flex-grow: 1;
		margin: 0;
		border: 0;
		background-color: var(--background-clear);
	}
}
